The Price/.vs/The Price/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
The Price/.vs/The Price/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
The Price/.vs/The Price/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
The Price/.vs/The Price/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
The Price/.vs/The Price/FileContentIndex/0bec83ea-ee0f-4602-8a28-3975f71c8000.vsidx
The Price/.vs/The Price/FileContentIndex/16defeaa-42f2-4ba1-a359-475b7d143396.vsidx
The Price/.vs/The Price/FileContentIndex/55f794e8-f42a-4561-accb-1cae31ccead1.vsidx
The Price/.vs/The Price/FileContentIndex/c5374da6-479b-44b5-b69e-968416a702b8.vsidx
*.vsidx
