# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos específicos de compilación de Visual Studio/JetBrains Rider
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# Archivos de paquetes descargados automáticamente
Packages/packages-lock.json

# Configuraciones personales del usuario
*.swp
*.bak
*.orig
*.db
*.pid
*.psess
*.vsp
*.sdf
*.opendb

# Sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Archivos de crash o de análisis de rendimiento
*.stacktrace
*.log
*.diff
*.patch

# Archivos de builds para plataformas específicas
*.apk
*.aab
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.ios

# Carpetas de Unity Collab (si no usás Unity Collaborate)
.collab/

# Configuraciones de Rider
.idea/
*.sln.iml
